@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80%);
  }
}

.scrolling-container {
  animation: scroll 110s linear infinite;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.banner-image {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease,
    box-shadow 0.3s ease-in-out;
}

.banner-image:hover {
  transform: scale(1.05);
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
